.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.post_wrapper {
  padding: 10px;
}

.post_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_top_left {
  display: flex;
  align-items: center;
}

.post_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 20px 10px 20px 0;
  object-fit: cover;
}

.post_username {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.post_date {
  font-size: 12px;
  color: rgb(78, 78, 78);
}

.post_center {
  margin: 20px 0;
}

.post_center_img {
  width: 100%;
  margin-top: 20px;
  max-height: 500px;
  object-fit: cover;
}

.post_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_bottom_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_like {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.post_like_counter {
  font-size: 15px;
}

.post_comment {
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px dashed gray;
}
