.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

.sidebar_wrapper {
  padding: 20px;
}

.sidebar_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar_icon {
  margin-right: 15px;
}

.show_button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.sidebar_hr {
  margin: 20px 0;
}

.sidebar_friend_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar_friend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar_friend_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
